pipeline/ScaleDW.json
{
	"name": "ScaleDW",
	"properties": {
		"activities": [
			{
				"name": "Bearer Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/microsoft.onmicrosoft.com/oauth2/token",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat('grant_type=client_credentials&resource=https://management.azure.com/&client_id=',variables('ClientID'),\n'&client_secret=',encodeUriComponent(variables('ClientSecret')))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get DB Status",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Bearer Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/11c799e7-b509-4f0c-88c3-e1cafb8ad7c9/resourceGroups/raghurepro/providers/Microsoft.Synapse/workspaces/raghu-asa/sqlPools/raghuadw?api-version=2021-06-01",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"Content-Type": "application/json",
						"Authorization": {
							"value": "@concat('Bearer ', activity('Bearer Token').output.access_token)",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\n  \"location\": \"East US\",\n  \"tags\": {},\n  \"sku\": {\n    \"tier\": \"\",\n    \"name\": \"DW100c\"\n  },\n  \"properties\": {\n    \"maxSizeBytes\": 0,\n    \"collation\": \"\",\n    \"restorePointInTime\": \"1970-01-01T00:00:00.000Z\"\n  }\n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Pause DB",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get DB Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/11c799e7-b509-4f0c-88c3-e1cafb8ad7c9/resourceGroups/raghurepro/providers/Microsoft.Synapse/workspaces/raghu-asa/sqlPools/pause?api-version=2021-06-01",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json",
						"Authorization": {
							"value": "@concat('Bearer ', activity('Bearer Token').output.access_token)",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('grant_type=client_credentials&resource=https://management.azure.com/&client_id=',variables('ClientID'),\n'&client_secret=',encodeUriComponent(variables('ClientSecret')))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ClientSecret": {
				"type": "String"
			},
			"ClientID": {
				"type": "String"
			},
			"test": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-10T12:30:43Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}